fastapi
uvicorn
motor
qdrant-client
langchain
langchain-community
langchain-core
python-dotenv
pydantic
python-multipart
PyJWT
passlib
bcrypt
python-jose
email-validator
cohere
pypdf
pdfplumber
python-docx
langchain-text-splitters
whoosh
flashrank
fastembed
pymupdf
pytesseract
pillow






